*.ppu
*.exe
*.a
*.compiled
*.or
lib/i386-win32/main.frm
lib/i386-win32/ap.res
EditBases/lib/i386-win32/main.frm

EditBases/lib/i386-win32/EditBases.res
bases.lst
*.html~
*.css~
EditBases/lib/i386-win32/about.frm
EditBases/lib/i386-win32/zlibfunc.o
EditBases/lib/i386-win32/ZLibExApi.o
EditBases/lib/i386-win32/ZLibEx.o
EditBases/lib/i386-win32/MyFileUtils.o
EditBases/lib/i386-win32/main.o
EditBases/lib/i386-win32/EditBases.o
EditBases/lib/i386-win32/addtabform.o
EditBases/lib/i386-win32/addtabform.frm
EditBases/lib/i386-win32/about.o
lib/i386-win32/ap.o
lib/i386-win32/copyfilethread.o
lib/i386-win32/MainCfg.o
lib/i386-win32/ZLibEx.o
lib/i386-win32/ZLibExApi.o
lib/i386-win32/zlibfunc.o
lib/i386-win32/MyFileUtils.o
lib/i386-win32/main.o
