*.o
*.ppu
*.exe
*.a
*.compiled
*.or
lib/i386-win32/main.frm
lib/i386-win32/ap.res
EditBases/lib/i386-win32/main.frm

EditBases/lib/i386-win32/EditBases.res
bases.lst
*.html~
*.css~
EditBases/lib/i386-win32/about.frm
