*.o
*.ppu
lib/i386-win32/libimpMyFileUtils.a
lib/i386-win32/main.frm
lib/i386-win32/ap.compiled
lib/i386-win32/ap.or
lib/i386-win32/ap.res
EditBases/lib/i386-win32/EditBases.compiled
EditBases/lib/i386-win32/EditBases.compiled
EditBases/lib/i386-win32/EditBases.or
*.res
